<div>
    <div class="_img_magnifier_count_tip">0/0</div>
    <!--loading-->
    <div class="_img_magnifier_spinner">
        <div class="_img_magnifier_bounce1"></div>
        <div class="_img_magnifier_bounce2"></div>
    </div>
    <!--loading-->
    <div class="_img_magnifier_box">
       <!--  <div class="_img_magnifier_item">
            <img class="_img_magnifier_view" src="/resource/img/img2.jpg" alt="">
        </div>
        <div class="_img_magnifier_item">
                <img class="_img_magnifier_view" src="/resource/img/img3.jpg" alt="">
        </div> -->
    </div>
</div>