<div class="_img_magnifier_wrapper">
    <!--loading-->
    <div class="_img_magnifier_spinner">
        <div class="_img_magnifier_bounce1"></div>
        <div class="_img_magnifier_bounce2"></div>
    </div>
    <!--loading-->
    <div class="_img_magnifier_box">
        <div class="_img_magnifier_item">
            <img class="_img_magnifier_view" src="/static/resource/img/img2.jpg?=t1513392330122" alt="">
        </div>
        <div class="_img_magnifier_item">
                <img class="_img_magnifier_view" src="/static/resource/img/img3.jpg?=t1513392330122" alt="">
        </div>
    </div>
</div>